doctype html
html
  head
    title Dancepiration Website
    block scripts
    block style 
      
  body
    nav#navbar 
        ul 
            div#logo
                img(src="../static/Dance_logo.png")
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") What We Offer]
            li #[a(href="/") Schedule]
            li #[a(href="/contact") Contact Us]

    block content

    block foot
      footer#footer     
          p  Copyright &copy; 2021-2022  www.umanique.com || All Rights Reserved 
          p | Developed & Maintained By Umanique &reg; |

      